:root {
  /*fonts*/
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P';

  /*weights*/
  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  /*main colors*/
  --bg-color: #fff;
  --accent-color: #000;
  --border-color: #000;
  --shadow-color: #fff;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, #d3d3d300 2px 4px), 
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

/*heart*/
  --heart-contour: #000;
  --heart-fill: #ff0000;
  --heart-sparks: #ff0000;
}